.root {
	display: flex;
	gap: 1em;
	.left {
		width: 66%;
		display: flex;
		flex-direction: column;
	}
	.right {
		width: 33%;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	.block {
		box-shadow: var(--rui_shadow);
		border-radius: var(--rui_defaultBorder);
		background-color: var(--rui_white);
		padding: 1em;
	}
	.headline {
		color: #7e7d7d;
		font-size: 1.25em;
	}
	.blockInBlock {
		align-items: flex-start;
		display: flex;
		gap: 1em;
		width: 100%;
		max-width: 14.5em;
		.name {
			font-size: 1.1em;
		}
		.job {
			color: #7e7d7d;
			font-size: 0.9em;
		}
	}
	.event {
		gap: 1em;
		.icon {
			align-self: flex-start;
			font-size: 2em;
		}
		.title {
			font-size: 1.1em;
		}
	}
	.img {
		object-fit: cover;
		aspect-ratio: 4/3;
	}
}
.goodTags {
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-end;
}
.card {
	min-height: 22em;
	max-height: 22em;
	width: 32.65em;
	padding: 1em;
}
.newCard {
	min-height: 20em;
	max-height: 20em;
	box-shadow: var(--rui_shadow);
	width: 100%;
	background-color: var(--rui_white) !important;
	border-radius: var(--rui_defaultBorder);
}
.tags {
	justify-content: space-between;
	width: 100%;
	font-size: 0.8em;
	color: #a8a8a8;
}
.banner {
	width: 100%;
	img {
		border-radius: 1em;
		width: 100%;
	}
}
.headline {
	color: #0c0c0c;
	font-size: 1.5em;
}
.subheadline {
	font-size: 1.1em;
}
.descForText {
	margin-left: 1.5em;
	font-size: 0.9em;
}
.helloGuestsBlock {
	padding: 1em;

	box-shadow: var(--rui_shadow);
	width: 100%;
	background-color: var(--rui_white) !important;
	border-radius: var(--rui_defaultBorder);
	.headlineText {
		font-size: 1.3em;
	}
	.imgLogo {
		max-width: 100%;
		max-height: 100%;
		border-radius: var(--rui_defaultBorder);
	}
}
.blockForAccept {
	gap: 1em;
	width: 100%;
	max-width: 20em;
	.name {
		font-size: 1.1em;
	}
	.job {
		color: #7e7d7d;
		font-size: 0.9em;
	}
}
.buttonAccept {
	width: 10em;
}
