{
	"semi": false,
	"tabWidth": 4,
	"useTabs": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": false,
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 160
}
