.root {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}
.goodTags {
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-end;
}
.newCard {
	box-shadow: var(--rui_shadow);
	width: 32.65em;
	background-color: var(--rui_white);
	border-radius: var(--rui_defaultBorder);
}
.tags {
	justify-content: space-between;
	width: 100%;
	font-size: 0.8em;
	color: #a8a8a8;
}
.banner {
	width: 100%;
	img {
		border-radius: 1em;
		width: 100%;
	}
}
.headline {
	color: #0c0c0c;
	font-size: 1.5em;
}
.subheadline {
	font-size: 1.1em;
}
.descForText {
	margin-left: 1.5em;
	font-size: 0.9em;
}
