.root {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: var(--rui_defaultBorder);
		padding: 2em;
		width: 30em;
		background-color: var(--rui_background);
		box-shadow: var(--rui_shadow);
	}
	.headline {
		font-family: Arial, sans-serif;
		display: flex;
		font-weight: 500;
		font-size: 1.75em;
		justify-content: center;
		width: 100%;
	}
}
